<!-- listing html file -->

<div ng-controller="listingCtrl as ctrl ">
  <div style="text-align:center; font-size: 24px; font-weight: bold ">Add Your Listing
  </div>

    <!-- garage sale listing form -->
  <md-content layout-padding="">
    <div layout="row" layout-sm="column">
      <form name="userForm">
        <h1 class="md-title">Enter an address
        </h1>  
        <div layout="row">
          <md-input-container>
            <label>Street Name
            </label>
            <input type="text">
          </md-input-container>

          <md-input-container>
            <label>City
            </label>
            <input type="text">
          </md-input-container>
        
          <md-select placeholder="State" ng-model="ctrl.userState">
            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">{{state.abbrev}}
            </md-option>
          </md-select>

            <!-- garage sale dates -->
          <md-input-container flex="both">
            <label>Start Date
            </label>
            <input type="date" ng-model="user.submissionDate">
          </md-input-container>

          <md-input-container>
            <label>End Date
            </label>
            <input type="date" ng-model="user.submissionDate">
          </md-input-container>
        </div>
      
        <div layout="column" layout-sm="column">

            <!-- garage sale description -->
          <md-input-container>
            <label>Description
            </label>
            <textarea ng-model="user.biography" columns="1" md-maxlength="500">
            </textarea>
          </md-input-container>
            
            <!-- submit and cancel buttons -->
          <md-input-container>
            <button style="background-color: #00E676">Submit
            </button>
          </md-input-container>
        
          <md-input-container>
            <button>Cancel
            </button>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
</div>