<!-- "TITLE: TIME: ADDRESS: template on "UPDATE MY LISTING" page -->
<md-card class="md-card"
ng-class="{'clicked-listing': listing.clicked}">
<md-card-content class="listingSize">
	<md-toolbar class="listingClick"
		ng-click="active = !active; listingClick(listing)"
		ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" >
		<span>
			<strong>Title:
			</strong>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{{listing.title}}
				<i ng-class="listing.favorite ? 'fa fa-star fa-lg' : 'fa fa-star-o fa-lg'"
					ng-click="toggleFavorite(listing); $event.stopPropagation();"
					class="starChecked">
				</i>
		</span>
<form action="http://maps.google.com/maps" method="get" target="_blank">
		<div>
		<strong>Time:</strong>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{{listing.time | date:"shortTime"}}
		</div>

		<div>
			<strong>Address:
			</strong>
				<!-- 		GOOGLE DIRECTION -->

				<input class="getDirectionsBtn" type="submit" name="daddr" value="{{listing.address.street}},
				{{listing.address.city}}, {{listing.address.state}} {{listing.address.zip}}"/>
		</form>

	</div>
	</md-toolbar>

	<div ng-show="active" class="showActive" id="description">
		<div>
			<strong>Description:
			</strong>
			{{listing.description}}
		</div>
	</div>
</md-card-content>
</md-card>
