<!-- <p>homeTmplPage</p>
<main-dir listings="theListings"></main-dir>
 -->
<div class="listingColumn">
  <md-card class="md-card">
 <md-card-content>
 <md-toolbar>Date:<span>City:</span></md-toolbar>
   <h3>Description:</h3>
   <p>Some Text</p>
   
   </md-card-content>
 <div class="md-actions" layout="row" layout-align="end center">
   <i class="material-icons">favorite_border</i>
  </div>
</md-card>

 <md-card class="md-card">
 <md-card-content>
 	<md-toolbar>Date:<span>City:</span></md-toolbar>
   		<h3>Description:</h3>
   		<p>Some Text</p>
  	</md-card-content>
 <div class="md-actions" layout="row" layout-align="end center">
   <i class="material-icons">favorite_border</i>
   </div>
</md-card>

  <md-card class="md-card">
 <md-card-content>
 <md-toolbar>Date:<span>City:</span></md-toolbar>
   <h3>Description:</h3>
   <p> Some Text </p>
   </md-card-content>
 <div class="md-actions" layout="row" layout-align="end center">
   <i class="material-icons">favorite_border</i>
    </div>
</md-card>
</div>
<div class="map">
	<div style="height: 700px;"> Cool</div>

</div>
