<!-- home template -->

      <!-- SECOND TOOLBAR -->
  	<md-content>
      <md-toolbar class="secondToolbar" layout="row">

          <!-- search by location -->
        <form ng-submit="submitLocSearch(locationSearch, distanceSearch)">
          <md-input-container class="searchByLocation" flex="10" flex-sm="5">
            <label>Yard Sale Search
            </label>
            <input type="text" ng-model="locationSearch">
          </md-input-container>
        </form>

          <!-- search by distance -->
        <md-select placeholder="Within" class="distanceSearch" ng-model="distanceSearch" flex-gt-sm="10" flex-sm="20">
          <md-option ng-repeat="distance in distances">{{distance}} miles
          </md-option>
        </md-select>
        
          <!-- calendar -->
        <md-input-container class="dateSearch" flex="10" flex-sm="30">
          <input type="date" ng-model="newListing.startDate">
          <label><strong>Date</strong>
          </label>
        </md-input-container>

          <!-- site name -->
        <div class="siteName" flex="55" hide-sm>YARD SALES
        </div>
        <!-- </div> -->
      </md-toolbar>
    </md-content>
<main-dir></main-dir>
