<!-- <p>homeTmplPage</p>
<main-dir listings="theListings"></main-dir>
 -->
 
<div class="listingColumn" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
  <md-card class="md-card">
 <md-card-content>
 <md-toolbar>Title:</md-toolbar>
 <div ng-show="active">
   <h3 >Description:</h3>
   <p>Some Text</p>
   </div>
   </md-card-content>
 <div class="md-actions" layout="row" layout-align="end center">
   <i class="material-icons">favorite_border</i>
  </div>
</md-card>

</div>
<div class="map">
	<div style="height: 700px;"> Cool</div>

</div>

