	<!-- update garage sale listing template // similar to listingDir.html -->

<div layout="row" layout-sm="column">

    <!-- My Listings card -->
  <div flex-gt-sm="33">
    <listing-dir ng-repeat="listing in userListings"></listing-dir>
 	</div>


    <!-- "UPDATE MY LISTING" FORM -->
  <div flex="66" flex-sm="100" layout-padding="10">
      <!-- Update My Listing title -->
    <md-content layout-padding="10">
      <div class="updateMyListingTitle">Update My Listing
      </div>

        <!-- Update My Listing information -->
      <div>
        <form name="userForm">
          <div layout="column" layout-sm="column">
          <md-input-container>
            <label>Title
            </label>
            <textarea ng-model="editListing.title" columns="1" md-maxlength="30">
            </textarea>
          </md-input-container>
        </div>

          <!-- Street Address -->
        <div layout="row">
          <md-input-container>
            <label>Street
            </label>
            <input type="text" ng-model="editListing.address.street">
          </md-input-container>

            <!-- City -->
          <md-input-container>
            <label>City
            </label>
            <input type="text" ng-model="editListing.address.city">
          </md-input-container>

            <!-- State -->
          <md-select placeholder="State" ng-model="editListing.address.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}
            </md-option>
          </md-select>

            <!-- Zip Code -->
          <md-input-container>
            <label>Zip Code
            </label>
            <input type="text" ng-model="editListing.address.zip">
          </md-input-container>
        </div>

            <!-- garage sale start date -->
        <div layout="row">
          <md-input-container flex="both">
            <label>Start Date
            </label>
            <input type="date" ng-model="editListing.startDate">
          </md-input-container>

            <!-- garage sale end date -->
          <md-input-container>
            <label>End Date
            </label>
            <input type="date" ng-model="editListing.endDate">
          </md-input-container>

          <md-input-container>
            <label>Start Time
            </label>
            <input type="time" ng-model="editListing.time">
          </md-input-container>
        </div>

        <div layout="column" layout-sm="column">
            <!-- garage sale description -->
          <md-input-container>
            <label>Description
            </label>
            <textarea ng-model="editListing.description" columns="1" md-maxlength="300">
            </textarea>
          </md-input-container>

            <!-- submit and cancel buttons -->
          <md-input-container>
            <button class="submitBtn" ng-click="submitListing(editListing)">Submit
            </button>
          </md-input-container>

          </div>
        </form>
      </div>
    </md-content>
  </div>
</div>
