html, body {
	background-color: #EEEEEE !important;
}

.siteName {
	width: 100%;
	height: 5;
	background: #FFAB40;
	text-align: center;
	padding: 20px;
}

	/*garage sale listing information*/

main-dir {
	display: flex;
}

.map-container {
	height: 100%;
	width: 100%;
}

.angular-google-map-container {
	height: 500px;
}

.listingColumn {
	width: 30%;
	background-color: #3F51B5;
	padding: 10px;
	/*float: left;*/
	margin: 20px;
	height: 500px;
	overflow: scroll;
}

.map {
	width: 60%;
  background-color: #3F51B5;
  float: right;
  margin: 20px;
  margin-bottom: 50px
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFAB40;
  text-align: center;
  height: 5%;
  padding: 3px;
}

.clicked-listing {
	background-color: #FFAB40;
}
