html, body {
	background-color: #EEEEEE;
	height: 100%;
}
/*tool bars*/
.topToolbar {
	background-color: #3F51B5;
}

.secondToolbar {
	background: #FFAB40;
	height: 60px;
}

.blueToolbar{
	padding: 0px;
}

.searchByLocation {
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	width: 274px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.distanceSearch {
	color: black;
	font-size: 15px;
	padding-top: 13px;
}

.md-select-label{
	padding-bottom: 1px;
}

.dateSearch{
	height: 48px;
	font-size: 15px;
	padding-bottom: 2px;
	padding-left: 20px;
}
#input_4{
	min-width: 150px;
}
.siteName{
	padding-top: 6px;
	font-weight: bold;
	font-size: 45px;

	word-spacing: 9px;
	text-align: center;
}

.smallSiteName{
	padding-top: 6px;
	font-weight: bold;
	font-size: 25px;
	text-align: right;
}

/*map*/
main-dir {
	display: flex;
}

.md-toolbar-tools{
	padding-bottom: 4px;
}

.map-container {
	height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 2px;
}

.angular-google-map-container {
	height: 546px;
}


/*listing card information*/
.myListingsCardTitle {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
}

.getDirectionsBtn{

	background-color: #3F51B5;
	color: white;
	text-align: left;
	outline: none;
	border-radius: 2px;
}

.listingPopOut {
	font-size: 14px;git
	font-weight: bold;
}

.listingColumn {
	margin: 10px;
	height: 526px;
	overflow: scroll;
	min-width: 430px;
	max-width: 430px;
}

.listingCard {
	font-size: 15px;
}

.updateState{
	padding-top: 16px;
	padding-left: 15px;
}

.md-select-label{
	min-height: 29px;
}

.clicked-listing {
	background-color: #FFAB40;
}

.listingClick {
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
}

.starChecked {
	color: #E9DB00;
	float: right;
	padding-right: 5px;
}

.showActive {
	font-size: 14px;
}

.welcomeUser{
	font-size: 14px;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 11px;
}

md-tabs md-ink-bar{
	color: white;
	background-color: white;
	height: 6px;
}

.md-tab.md-focused{
	background-color: #FFAB40;
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
	background-color: #EEEEEE;
}

.tabsdemoStaticTabs md-tab-content:nth-child(2) {
	background-color: #EEEEEE;
}

.expandcollapse-heading-collapsed:focus{
	outline:none;
}

.expandcollapse-heading-expanded:focus{
	outline:none;
}

.buttonPadding{
	padding-bottom: 0px;
	padding-top: 0px;
}

i{
	padding-top: 5px;
}

i:focus{
	outline:none;
}

.listingTitle{
	text-align: center;
	font-size: 18px;
}

/*listing form*/
.updateMyListingTitle, .addMyListingTitle {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	color: #3F51B5
}

.submitBtn {
	background-color: #3F51B5;
	width: 50%;
	align-self: center;
	margin-top: 15px;
}

#removeBtn {
	background-color: red;
	font-size: 0.7em;
	padding: 3px;
}

#removeDiv {
	background-color: #E0E0E0;
	text-align: top;
}

.areaListings {
	background-color: #FFAB40;
}

.listingSize{

}

#tab-content-8{
	background-color: #EEEEEE;
}

#tab-content-9{
	background-color: #EEEEEE;
}

.md-padding{
	background-color: #EEEEEE;
}

.md-right{
	color: white;
	background-color: white;
}

.md-left{
	color: white;
	background-color: white;
}

#wrapper{
	min-height: 100%;
	position: relative;
}

#body{
	padding-bottom: 83px;
}

.footer {
	background: #FFAB40;
	text-align: center;
	flex-direction: row-reverse;
	padding-top: 5px;
	padding-bottom: 15px;
	height: 63px;
	font-size: 14px;
	min-width: 800px;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.bottomFooter{
	padding-bottom: 83px;
}

.border {
	border: 1px solid #FFAB40;
	border-radius: 2px;
	margin-top: 10px;
	padding: 10%;
	background-color: #E0E0E0;
}
.leftListingDiv {
	width: 10%;
	height: 100%;
	background-color: red;
	float: left;
}
.rightListingDiv {
	width: 10%;
	height: 100%;
	background-color: red;
	float: right;
}
}
.listingDiv {
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 80px;
}

.centerfav {
	text-align: center;
}

.md-button{
	line-height: 27px;
	color: white;
	padding: 10px 20px 10px 20px;
}

.loginListing{
	background-color: #3F51B5;
	height: 70px;
    padding-top: 5px;
    margin-top: 15px;
}

.updateForm{
	background-color: #EEEEEE;
	padding-bottom: 80px;
}

.updateFormBox{

	padding: 5px;
}

.terms {
	margin-left: 50px;
	margin-right: 50px;
}
.policy {
	margin-left: 50px;
	margin-right: 50px;
}

.about {
	margin-left: 50px;
	margin-right: 50px;
}

.md-tab:nth-child(1){background: #FFAB40; }
.md-tab:nth-child(2){background: #FFAB40; }

#description {
	color: #424242
}
md-tabs-canvas.md-center-tabs {
	background-color: #FFAB40;
}

.md-padding{
	padding: 0px;
}

md-tabs .md-tab{
	color: rgb(189, 127, 47);
}

.md-tab{
	font-size: 19px;
	line-height: 20px;
}

md-card md-card-content {
	padding: 0;
}
