html, body {
	background-color: #EEEEEE !important;
}
/*tool bars*/
.topToolbar {
	padding-top: 10px;
	background-color: #3F51B5;
}

.secondToolbar {
	background: #FFAB40;
	height: 60px;
}

.searchByLocation {
	font-size: 14px;
	font-weight: bold;
	padding-left: 25px;
	width: 300px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.distanceSearch {
	color: black;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 13px;
}

.md-select-label{
	padding-bottom: 1px;
}

.dateSearch{
	height: 48px;
	font-size: 15px;
	padding-bottom: 2px;
}
#input_4{
	min-width: 150px;
}
.siteName{
	padding-top: 6px;
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 15px;
	word-spacing: 10px;
	text-align: right;
}

.smallSiteName{
	padding-top: 6px;
	font-weight: bold;
	font-size: 25px;
	text-align: right;
}

/*map*/
main-dir {
	display: flex;
}

.map-container {
	height: 100%;
	width: 100%;
	padding-top: 10px;
}

.angular-google-map-container {
	height: 546px;
}


/*listing card information*/
.myListingsCardTitle {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
}

.getDirectionsBtn{
	width: 60px;
	height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #3F51B5;
	padding-left: 0px;
	cursor: pointer;
	text-align: center;
}

.listingPopOut {
	font-size: 14px;
	font-weight: bold;
}

.listingColumn {
	background-color: #3F51B5;
	padding: 10px;
	margin: 10px;
	height: 526px;
	overflow: scroll;
	min-width: 430px;
	max-width: 430px;
}

.listingCard {
	font-size: 15px;
}

.updateState{
	padding-top: 16px;
	padding-left: 15px;
}

.md-select-label{
	min-height: 29px;
}

.clicked-listing {
	background-color: #FFAB40;
}

.listingClick {
	font-size: 15px;
	padding: 5px;
	cursor:pointer;
}

.starChecked {
	color:#E9DB00;
	float: right;
	padding-right: 5px;
}

.showActive {
	font-size: 14px;
}

.welcomeUser{
	font-size: 16px;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 12px;
}

md-tabs md-ink-bar{
	color:white;
	background-color: white;
}

/*md-input-container{*/
	/*padding: 0px;*/
/*}*/

.tabsdemoStaticTabs md-tab-content {
  padding: 5px;
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
background-color: #3F51B5;
}

.tabsdemoStaticTabs md-tab-content:nth-child(2) {
background-color: #3F51B5;
}

.expandcollapse-heading-collapsed:focus{
	outline:none;
}

.expandcollapse-heading-expanded:focus{
	outline:none;
}

i{
	padding-top: 5px;
}

i:focus{
	outline:none;
}

/*listing form*/
.updateMyListingTitle, .addMyListingTitle {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	background-color: #EEEEEE;
}

.submitBtn {
	background-color: #09C067;
	width: 50%;
	align-self: center;
	margin-top: 15px;
}

.removeBtn {
	background-color: red;
	width: 30%;
	align-self: center;
	margin-top: 15px;
}

#removeDiv {
	background-color: #EEEEEE;
}

.areaListings {
	background-color: #FFAB40;
}

.listingSize{
	padding: 10px;
}

#tab-content-8{
	padding: 3px;
}

.md-padding{
	padding: 10px;
}

.md-right{
	color: white;
	background-color: white;
}

.md-left{
	color: white;
	background-color: white;
}


.footer {
	background: #FFAB40;
	text-align: center;
	flex-direction: row-reverse;
	padding-top: 5px;
	height: 63px;
	font-size: 14px;

}

.centerfav {
	text-align: center;
}

.md-button{
	line-height: 27px;
	color: white;
}

.updateForm{
	background-color: #EEEEEE;
	padding-bottom: 165px;
}
.updateFormBox{
	background-color: #EEEEEE;
	padding: 5px;
}

.terms {
	margin-left: 50px;
	margin-right: 50px;
}
.policy {
	margin-left: 50px;
	margin-right: 50px;
}

.about {
	margin-left: 50px;
	margin-right: 50px;
}
