html, body {
	background-color: #EEEEEE !important;
}

.siteName {
	width: 100%;
	background: #FFAB40;
	text-align: center;
	padding: 20px;
}

	/*garage sale listing information*/

main-dir {
	display: flex;
}

.map-container {
	height: 100%;
	width: 100%;
	padding-top: 10px;
}

.angular-google-map-container {
	height: 500px;
}

/*.listingColumnBorder {
	width: 40%;
}*/

.listingColumn {
	background-color: #3F51B5;
	padding: 10px;
	margin: 10px;
	height: 526px;
	overflow: scroll;
	min-width: 400px;
}

.clicked-listing {
	background-color: #FFAB40;
}

.tabsdemoStaticTabs md-tab-content {
  padding: 5px; 
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
background-color: #3F51B5; 
}

.tabsdemoStaticTabs md-tab-content:nth-child(2) {
background-color: #3F51B5;
text-align: center;
color: white; 
}

.expandcollapse-heading-collapsed:focus{
	outline:none;
}

.expandcollapse-heading-expanded:focus{
	outline:none;
}
i{
	padding-top: 5px;
}
i:focus{
	outline:none;
}

