<div class="listingColumn" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
  <md-card class="md-card">
 <md-card-content>
 <md-toolbar>Title:</md-toolbar>
 <div ng-show="active">
   <h3 >Description:</h3>
   <p>Some Text</p>
   
 <div class="md-actions" layout="row" layout-align="end center">
   <i class="material-icons"><div ng-click="addFavorite()">favorite_border</div></i>
  </div></div>  
   </md-card-content>

</md-card>

</div>
<div class="map">
	<div style="height: 700px;"> Cool</div>

</div>

