<div class="about">

<h1>About Us</h1>
<p> We are graduates from Dev Mountain who is passionate about coding and our community.</p>
<p> We created this website to showcase our coding skills and deliever a product to meet community's need. We developed this website in two weeks after learning coding two months at Dev Mountain Coding Bootcamp.</p>
<p>   We  Developed the website using Javascript, html5, css3, Angularjs, Angular Material design for front end and nodejs,  MongoDB in back-end to store relevant data.  Plus we used google map api.</p>

<h3> Questions </h3>
<p> If you have question please do not hasitata to contact us or if you have suggestion to improve our website</p>

contact us via email at jmsnrmnd@gmail.com


</div>